
table {
  border-collapse: collapse;
  color: black;
  font-size: 20px;
  width: 60%;
}

td {
	padding: 5px 15px;
	border: 1px solid #ddd;
}

tr:nth-child(even){background-color: #f2f2f2;}

th{
	padding: 5px 15px;
	border: 1px solid #ddd;
	font-weight: bold;
	text-align: left;
}

