#submitbutton{
	background-color: blue;
	padding: 10px;
	color: White;
	font-size: 20px;
}

body{
	font-size: 18px;
}

p{ 
	font-size: 24px;
	font-family: 'Chango', cursive;
}

h3{
	margin-bottom: 5px;
}

table {
  border-collapse: collapse;
  color: black;
  font-size: 20px;
  width: 60%;
}

td {
	padding: 5px 15px;
	border: 1px solid #ddd;
}

tr:nth-child(even){background-color: #f2f2f2;}

th{
	padding: 5px 15px;
	border: 1px solid #ddd;
	font-weight: bold;
	text-align: left;
}